.sidebar-nav {
  & {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
    color: #fff;
  }
  .sidebar-nav-title {
    padding: 0.75rem 1rem;
    margin-top: 1rem;
    font-size: 80%;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.25s;
  }
}