/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
@import './assets/theme/theme.scss';

* {
  & {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }

  html,
  body {
    height: 100% !important;
  }
  body {
    & {
      font: 14px 'Roboto', sans-serif !important;
      font-family: Arial, sans-serif !important;
      background: #ecf1f8 !important;
      color: #333 !important;
      -webkit-font-smoothing: antialiased !important;
    }
  }
}

