bs-datepicker-container,
bs-daterangepicker-container {
  z-index: 9002 !important;
}

.fa.fa-calendar.icon-view {
  position: absolute;
  right: 6px;
  z-index: 9;
  padding: 10px 12px;
  background: #f2f4fb;
  border: 1px solid #e0e2eb;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
  transition: all linear 200ms;
  &:hover {
    box-shadow: 0 0 4px 0 #84848461;
  }
}
