.form-inline .form-control {
  width: 100% !important;
}

form {
  & {
    max-width: 50vw;
    margin: auto;
  }
  .form-row {
    margin: 15px 0;
  }
  .acoes {
    display: flex;
    justify-content: flex-end;
  }
}
